body {
    /* image from wallhaven.com */
    background: url(wallhaven-64348.png) no-repeat center center fixed;
    font-size: 12px;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    font-family: "Nunito";
}

#bar {
    background-color: rgba(100, 100, 100, 0.75);
    z-index: 100000;
    color: white;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    opacity: 1;
}

#bar h1,h2 {
    transition: 300ms;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 10px 10px 20px;
    margin: 0;
}

#bar h2:hover {
    cursor: pointer;
    color: #91befb;
}

#bar h2.selected {
    background-color: #7c7cff;
}

#main {
    position: absolute;
}

.item {
    border: 1px solid white;
    border-radius: 2px;
    transition: all 1s;
    position: absolute;
    transform: translate3d(0, 0, 0);
    transform-origin: 50% 50%;
    box-sizing: border-box;
    height: 160px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #33b;
    opacity: 0.75;
}
.item:hover {
    background-color: #91befb;
}

.item .name {
    margin: 15px 0;
    font-size: 36px;
}

.item .atomic-num {
    font-size: 16px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.item .atomic-weight {
    font-size: 16px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.item .item-description {
    font-size: 12px;
}
