body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    font-family: "Nunito";
}

#bottom {
    background-color: rgba(100, 100, 100, 0.5);
    z-index: 100000;
    color: white;
    margin: 0;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
}

#bottom h1,h2 {
    transition: 300ms;
    border-radius: 4px;
    padding: 10px;
    margin: 0;
}

#bottom h2:hover {
    cursor: pointer;
    color: #91befb;
}

#bottom h2.selected {
    border: 1px solid;
    color: #7c7cff;
}

#main {
    position: absolute;
}

.item {
    border: 1px solid white;
    border-radius: 2px;
    transition: all 1s;
    position: absolute;
    transform: translate3d(0, 0, 0);
    transform-origin: 50% 50%;
    box-sizing: border-box;
    height: 160px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #fff;
    background-color: #33b;
    opacity: 0.75;
}
