body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    font-family: "Nunito";
}

#bottom {
    z-index: 100000;
    color: white;
    margin: 0;
    position: fixed;
    bottom: 15px;
    left: 15px;
    right: 15px;
    display: flex;
    justify-content: space-between;
    opacity: 1;
}

#bottom h2:hover {
    cursor: pointer;
    color: #4278ff;
}

#main {
    position: absolute;
}

.item {
    border: 1px solid white;
    transition: all 1s;
    position: absolute;
    transform: translate3d(0, 0, 0);
    box-sizing: border-box;
    height: 160px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #fff;
    background-color: #33b;
    opacity: 0.75;
}
